// PALETA DE COLORES
$color-primario: #003049;
$color-secundario: #747172;
$color-blanco: #ffffff;
$color-gris-claro: #faf8f8;

// TIPOGRAFÍA
$fuente-principal: "Poppins", sans-serif;

// ESPACIADOS
$espacio-s: 10px;
$espacio-m: 20px;
$espacio-l: 40px;
